<section class="thirteen columns">
  <h1>{{ .Site.Data.employment.name }}</h1>
  {{ range .Site.Data.employment.source }}
  <article>
    <header>
      <h1>{{ .prof }}</h1>
      <span>
        <address><b>{{ .place }}</b></address>
        <time>{{ .time }}</time>
      </span>
    </header>
    <ul>
    <li>{{ .description }}</li>
     </ul> 
    <ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{ .description1 }}</li>
  <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{ .description2 }}</li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{ .description3 }}</li>
    <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{ .description4 }}</li>
        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>{{ .description5 }}</li>
</ul>
      <li><small></small></li>
      <li><small>{{ .description2 }}</small></li>
      <li><small>{{ .description3 }}</small></li>
  <li><small>{{ .description4 }}</small></li>
<li><small>{{ .description5 }}</small></li>
    </ol>
  </article>
  {{ end }}
</section>
