<section class="thirteen columns">
  <h1>{{ .Site.Data.employment.name }}</h1>
  {{ range .Site.Data.employment.source }}
  <article>
    <header>
      <h1>{{ .prof }}</h1>
      <span>
        <address><b>{{ .place }}</b></address>
        <time>{{ .time }}</time>
      </span>
    </header>
    <ul>
    <li>{{ .description }}</li>
     </ul> 
    <ul>
      <li><i class="fa fa-circle"></i>&nbsp;&nbsp;<small>{{ .description1 }}</small></li>
      <li><i class="fa fa-circle"></i>&nbsp;&nbsp;<small>{{ .description2 }}</small></li>
      <li><i class="fa fa-circle"></i>&nbsp;&nbsp;<small>{{ .description3 }}</small></li>
      <li><i class="fa fa-circle"></i>&nbsp;&nbsp;<small>{{ .description4 }}</small></li>
      <li><i class="fa fa-circle"></i>&nbsp;&nbsp;<small>{{ .description5 }}</small></li>
    </ul>
  </article>
  {{ end }}
</section>
