<section class="thirteen columns">
  <h1>{{ .Site.Data.employment.name }}</h1>
  {{ range .Site.Data.employment.source }}
  <article>
    <header>
      <h1>{{ .prof }}</h1>
      <span>
        <address><b>{{ .place }}</b></address>
        <time>{{ .time }}</time>
      </span>
    </header>
    <ul>
    <li>{{ .description }}</li>
     </ul>  
    <ol>
      <li><small>{{ .description1 }}</small></li>
      <li><small>{{ .description2 }}</small></li>
      <li><small>{{ .description3 }}</small></li>
  <li><small>{{ .description4 }}</small></li>
<li><small>{{ .description5 }}</small></li>
    </ol>
  </article>
  {{ end }}
</section>
